/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
	margin: 0;
}

/* HTML5 display definitions
	 ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
	display: none;
}

/* Links
	 ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
	outline: 0;
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
	font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
	font-size: 2em;
	margin: .67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
	background: #ff0;
	color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
	border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
	 ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
	margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
	box-sizing: content-box;
	height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
	 ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
	color: inherit; /* 1 */
	font: inherit; /* 2 */
	margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
	overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
	line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
	border: 0; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
	font-weight: bold;
}

/* Tables
	 ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.eot?jr2o37");
	src: url("../fonts/icomoon.eot?jr2o37#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?jr2o37") format("truetype"), url("../fonts/icomoon.woff?jr2o37") format("woff"), url("../fonts/icomoon.svg?jr2o37#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1; /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-element:before {
	content: "\e902";
}

.icon-right:before {
	content: "\e900";
}

.icon-facebook:before {
	content: "\e901";
}

#nav,
.holder-subtitle,
.list-block,
.list-brand,
.post-txt .small-images,
.block-info .list,
.partners,
.copyright .footer-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	max-height: 1000000px;
}

body {
	color: #565d61;
	background: #fff;
	font: 16px/1.2 "Poppins", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

.gm-style img {
	max-width: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
	font-family: inherit;
	font-weight: bold;
	margin: 0 0 .5em;
	color: inherit;
}

h1,
.h1 {
	font-size: 65px;
}

h2,
.h2 {
	font-size: 60px;
}

h3,
.h3 {
	font-size: 48px;
}

h4,
.h4 {
	font-size: 24px;
}

h5,
.h5 {
	font-size: 17px;
}

h6,
.h6 {
	font-size: 15px;
}

p {
	margin: 0 0 1em;
}

a {
	color: #39f;
	-webkit-transition: background .3s linear, opacity .3s linear, color .3s linear;
	transition: background .3s linear, opacity .3s linear, color .3s linear;
	text-decoration: none;
}

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	box-sizing: border-box;
	border: 1px solid #999;
	padding: .4em .7em;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus {
	border-color: #333;
}

input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #999;
}

input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
	color: #999;
}

input[type="text"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder {
	color: #999;
}

input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #999;
}

input[type="text"].placeholder,
input[type="tel"].placeholder,
input[type="email"].placeholder,
input[type="search"].placeholder,
input[type="password"].placeholder,
textarea.placeholder {
	color: #999;
}

select {
	-webkit-border-radius: 0;
}

textarea {
	resize: vertical;
	vertical-align: top;
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}

#header {
	padding: 24px 0 20px;
	position: relative;
}

.resize-active * {
	-webkit-transition: none !important;
	transition: none !important;
}

.head-holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.logo a {
	display: inline-block;
}

.nav-opener {
	display: block;
	width: 40px;
	height: 40px;
	right: 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	z-index: 2;
}

.nav-active .nav-opener span {
	opacity: 0;
}

.nav-active .nav-opener:before,
.nav-active .nav-opener:after {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 50%;
	left: 15%;
	right: 15%;
}

.nav-active .nav-opener:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.nav-opener span,
.nav-opener:before,
.nav-opener:after {
	background: #565d61;
	position: absolute;
	top: 50%;
	left: 16%;
	right: 16%;
	height: 3px;
	margin-top: -2px;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

.nav-opener:before,
.nav-opener:after {
	content: "";
	top: 30%;
}

.nav-opener:after {
	top: 70%;
}

.drop {
	width: 100%;
	left: 0;
	top: 0;
	right: 0;
	background: #fff;
	z-index: 1;
	-webkit-transition-property: opacity, visibility, background, -webkit-transform;
	transition-property: opacity, visibility, background, -webkit-transform;
	transition-property: opacity, visibility, transform, background;
	transition-property: opacity, visibility, transform, background, -webkit-transform;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}

#nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 -45px;
}

#nav li {
	padding: 0 45px;
}

#nav li a {
	display: inline-block;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 4px;
	color: #565d61;
}

#nav li a:hover {
	opacity: .7;
}

.nav-active #nav li a:hover {
	color: #fff;
}

#wrapper {
	position: relative;
	overflow: hidden;
}

.container {
	max-width: 1265px;
	margin: 0 auto;
	padding: 0 15px;
}

.banner-block {
	min-height: 700px;
	position: relative;
	background-position: 100% 50%;
	background-repeat: no-repeat;
}

.main-title {
	position: relative;
	padding: 205px 0 225px;
}

.main-title h1 {
	margin: 0 0 18px;
	color: rgba(102, 119, 119, .15);
	background: #fff;
	padding: 5px 0;
	display: inline-block;
	position: relative;
}

.main-title h1:before {
	content: "";
	position: absolute;
	width: 122px;
	height: 2px;
	background: #565d61;
	bottom: -27px;
	left: 0;
}

.holder-subtitle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 200;
}

.holder-subtitle li {
	background: #fff;
	padding: 6px 30px;
	display: inline-block;
}

.holder-subtitle li:first-child {
	-webkit-transform: translateX(44%);
	-ms-transform: translateX(44%);
	transform: translateX(44%);
	max-width: 330px;
}

.holder-subtitle li:last-child {
	-webkit-transform: translateX(46%);
	-ms-transform: translateX(46%);
	transform: translateX(46%);
	max-width: 396px;
}

.list-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	background: #f4f8fb;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 15px;
	letter-spacing: 5.5px;
	padding: 36px 0;
}

.list-block li a {
	color: #677;
}

.list-block li a:hover,
.list-block li a.active {
	border-bottom: 2px solid;
	padding: 0 0 6px;
}

.banner-section {
	padding: 35px 0;
	background: #f4f8fb;
	position: relative;
}

.banner-section .container {
	position: relative;
	z-index: 1;
}

.banner-section::before {
	content: "";
	position: absolute;
	background: url(../images/bg-image.png);
	background-repeat: no-repeat;
	min-height: 82%;
	width: 100%;
	top: 0;
	right: 0;
	max-width: 505px;
	z-index: 0;
}

.top-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0 0 14px;
}

.top-content .info-box {
	max-width: 610px;
	padding: 25px 0;
}

.top-content .info-box h2 {
	margin: 0 0 30px;
	line-height: 1.3;
}

.top-content .info-box .text-box {
	line-height: 1.8;
}

.holder-type {
	margin: 0 0 60px;
}

.holder-type .title {
	font-size: 15px;
	letter-spacing: 8px;
	color: rgba(51, 51, 51, .5);
	text-transform: uppercase;
	margin: 0 0 30px;
	display: inline-block;
}

.list-brand {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 0 50px;
	border-bottom: 1px solid;
	width: 76%;
}

.list-brand li {
	margin: 0 20px 0 0;
}

.list-brand li:last-child {
	margin: 0;
}

.list-brand li a {
	padding: 10px 30px;
	display: inline-block;
	color: #677;
}

.list-brand li a.active,
.list-brand li a:hover {
	color: #fff;
	background: #677;
}

.brand-boxes {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.brand-boxes .box {
	width: 291px;
	height: 198px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: #fff;
	margin: 0 0 20px;
}

.brand-boxes .box.bg-blue {
	background: #21407b;
}

.btn-border {
	display: block;
	font-size: 13px;
	font-weight: 500;
	position: relative;
}

.btn-border.gray {
	padding: 17px 28px;
	color: #677;
	border: 1px solid #677;
	background: #fff;
	min-width: 206px;
}

.btn-border.gray:hover {
	color: #fff;
	border: 1px solid #fff;
	background: #677;
}

.btn-border.white {
	max-width: 300px;
	padding: 17px 125px 17px 80px;
	color: #fff;
	border: 1px solid #677;
	background: #677;
}

.btn-border.white:hover {
	color: #677;
	border: 1px solid #677;
	background: #fff;
}

.btn-border.white i {
	right: 90px;
}

.btn-border i {
	position: absolute;
	right: 30px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 19px;
}

.js-tab-hidden {
	display: block !important;
	left: -9999px !important;
	position: absolute !important;
	top: -9999px !important;
}

.explore {
	padding: 110px 0;
	position: relative;
}

.section-title {
	margin: 0 0 105px;
}

.section-title span {
	display: block;
	color: #e1ebf3;
	font-size: 120px;
	font-weight: 700;
}

.holder-posts {
	max-width: 950px;
	margin: 0 auto;
}

.post {
	margin: 0 0 135px;
	position: relative;
}

.post:last-child {
	margin: 0;
}

.post::before {
	content: "";
	position: absolute;
	width: 100vw;
	height: 1px;
	background: #677;
	bottom: 24px;
	right: 0;
}

.post.row-reverse .post-content {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.post.row-reverse .post-txt {
	margin: 0 0 0 40px;
}

.post.row-reverse .post-img {
	margin: 0;
}

.post.row-reverse .card-post {
	-webkit-transform: translate(-100px, 10px);
	-ms-transform: translate(-100px, 10px);
	transform: translate(-100px, 10px);
}

.post .post-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 0 44px;
}

.post .post-title .title-h3 {
	position: relative;
}

.post .post-title .title-h3 h3 {
	color: #333;
	font-weight: 700;
	margin: 0;
	padding: 0 0 0 55px;
}

.post .post-title .title-h3 i {
	display: inline-block;
	position: absolute;
	font-size: 106px;
	padding: 0 6px;
	z-index: -1;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #92a3a2;
}

.post-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0 0 58px;
}

.post-txt {
	max-width: 375px;
	z-index: 5;
}

.post-txt .txt {
	line-height: 1.8;
	margin: 0 0 40px;
}

.post-txt .small-images {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 -10px 20px;
}

.post-txt .small-images li {
	padding: 0 10px;
}

.card-post {
	padding: 20px;
	background: #fff;
	-webkit-transform: translate(0, 10px);
	-ms-transform: translate(0, 10px);
	transform: translate(0, 10px);
	box-shadow: 0 1px 10px rgba(0, 0, 0, .0501019);
	min-width: 475px;
	margin: 0 0 30px;
}

.tupe-card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0 0 15px;
}

.tupe-card .card {
	display: inline-block;
	text-transform: uppercase;
	padding: 15px 5px;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	position: relative;
	color: rgba(51, 51, 51, .5);
}

.tupe-card .card:before {
	content: "";
	position: absolute;
	right: -40px;
	top: 10px;
	width: 1px;
	height: 25px;
	background: rgba(51, 51, 51, .5);
}

.tupe-card .card:last-child::before {
	display: none;
}

.line-card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0 10px;
	margin: 0 0 24px;
}

.line-card .package {
	display: inline-block;
	font-size: 14px;
}

.line-card .package mark {
	background: inherit;
}

.post-img {
	width: 100%;
	height: 100%;
	margin: 0 30px;
	max-width: 515px;
	background: #92a3a2;
	position: relative;
}

.post-img .br-el {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.post-img .br-el::after {
	content: "\e902";
	position: absolute;
	font-family: "icomoon";
	color: rgba(255, 255, 255, .54);
	font-size: 440px;
	top: 140px;
	left: 75px;
}

.post-img::before {
	content: "\e902";
	position: absolute;
	font-family: "icomoon";
	color: #fff;
	z-index: 0;
	font-size: 455px;
	top: -45px;
	left: 0;
}

.post-img::after {
	content: "\e902";
	position: absolute;
	font-family: "icomoon";
	color: rgba(86, 93, 97, .1);
	font-size: 440px;
	top: 140px;
	left: 75px;
}

.post-img img {
	-webkit-transform: translate(20px, 25px);
	-ms-transform: translate(20px, 25px);
	transform: translate(20px, 25px);
	position: relative;
}

.text-post-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	z-index: 7;
	margin: 0 0 23px;
}

.block-info {
	z-index: 5;
	width: 25%;
}

.block-info span {
	font-size: 14px;
	color: #333;
	display: inline-block;
	margin: 0 0 30px;
}

.block-info .list {
	font-size: 12px;
	line-height: 2.2;
}

.link-post {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

#footer {
	position: relative;
	border-top: 1px solid rgba(51, 51, 51, .15);
	position: relative;
}

#footer:before {
	content: "";
	position: absolute;
	right: 0;
	bottom: 40px;
	left: 0;
	width: 100%;
	border-bottom: 1px solid rgba(169, 169, 169, .15);
}

.footer-content .container {
	max-width: 950px;
	margin: 0 auto;
	padding: 0;
}

.holder-f {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.holder-f .box-col {
	width: 50%;
	padding: 20px 75px 0 0;
}

.holder-f .box-col.f-gray {
	color: #fff;
	background: #677;
	padding: 35px 50px 20px;
	position: relative;
}

.holder-f .box-col.f-gray h4 {
	margin: 0 0 23px;
}

.holder-f .box-col.f-gray::before {
	content: "";
	position: absolute;
	width: 100vw;
	height: 100%;
	left: 0;
	top: 0;
	background: #677;
	z-index: -1;
}

h4 {
	font-weight: 700;
	margin: 0;
}

.last-subtitle {
	display: inline-block;
	font-size: 14px;
	line-height: 1.6;
	margin: 0 0 10px;
}

.small-title {
	display: inline-block;
	font-weight: 500;
	font-size: 12px;
	margin: 0 0 10px;
	color: rgba(0, 0, 0, .5);
}

.hold-box {
	max-width: 350px;
}

.partners {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.copyright {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 12px;
	color: rgba(0, 0, 0, .5);
}

.copyright .copy-txt {
	width: 50%;
	display: inline-block;
	position: relative;
}

.copyright .footer-list {
	width: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	padding: 15px 50px;
}

.copyright .footer-list::before {
	content: "";
	position: absolute;
	width: 100vw;
	height: 100%;
	left: 0;
	top: 0;
	background: #677;
	z-index: -1;
}

.copyright .footer-list li {
	margin: 0 30px 0 0;
}

.copyright .footer-list li a {
	font-size: 10px;
	color: #fff;
}

.copyright .footer-list li a:hover {
	border-bottom: 1px solid #fff;
}

.box-addres {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.box-addres .block-addres {
	width: 50%;
}

.box-addres .block-addres address {
	font-style: normal;
	font-size: 12px;
	font-weight: 300;
	opacity: .75;
}

.box-addres .block-addres address strong {
	font-weight: 700;
	margin: 0 0 3px;
	display: block;
}

.box-addres .block-addres .icon {
	padding: 10px 0;
}

.box-addres .block-addres .icon a {
	display: inline-block;
	color: #fff;
}

.box-addres .block-addres .icon a:hover {
	opacity: .7;
}

.box-addres .block-addres .icon a i {
	font-size: 25px;
}

.box-addres .block-addres .callback {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
}

.box-addres .block-addres .callback:hover {
	border-bottom: 1px solid #fff;
}

@media (min-width: 769px) {
	.nav-opener {
		display: none;
	}
}

@media (max-width: 1255px) {
	.list-brand {
		width: 80%;
	}
}

@media (max-width: 1200px) {
	.list-brand {
		width: 90%;
	}

	.post-img .br-el::after {
		font-size: 380px;
	}

	.post-img::before {
		font-size: 380px;
	}

	.post-img::after {
		font-size: 380px;
	}
}

@media (max-width: 1075px) {
	.top-content .info-box {
		padding: 25px 25px 25px 0;
	}
}

@media (max-width: 1070px) {
	.list-brand {
		width: 100%;
	}

	.list-brand li {
		margin: 0;
	}
}

@media (max-width: 1024px) {
	.banner-block {
		min-height: 650px;
	}

	.main-title {
		padding: 190px 0;
	}

	.post-img .br-el::after {
		font-size: 300px;
		left: 0;
	}

	.post-img::before {
		font-size: 300px;
	}

	.post-img::after {
		font-size: 300px;
		left: 0;
	}

	.footer-content .container {
		padding: 0 15px;
	}

	.holder-f .box-col {
		padding: 20px 10px 0 0;
	}

	.holder-f .box-col.f-gray {
		padding: 35px 20px 20px;
	}

	.copyright .footer-list {
		padding: 15px 20px;
	}
}

@media (max-width: 900px) {
	.list-brand li a {
		padding: 10px 15px;
	}
}

@media (max-width: 768px) {
	h1,
	.h1 {
		font-size: 50px;
	}

	h2,
	.h2 {
		font-size: 40px;
	}

	h3,
	.h3 {
		font-size: 30px;
	}

	#header {
		padding: 10px 0 10px;
	}

	.logo {
		max-width: 70px;
	}

	.drop {
		position: absolute;
		opacity: 0;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		visibility: hidden;
		-webkit-transform: translateY(-200px);
		-ms-transform: translateY(-200px);
		transform: translateY(-200px);
		right: 0;
		padding: 50px 30px;
	}

	.nav-active .drop {
		opacity: 1;
		visibility: visible;
		background: #999;
		top: 0;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}

	#nav li a {
		color: #fff;
	}

	.banner-block {
		min-height: 460px;
	}

	.main-title {
		padding: 120px 0;
	}

	.main-title h1 {
		padding: 5px;
	}

	.main-title h1:before {
		width: 80px;
	}

	.holder-subtitle {
		font-size: 18px;
	}

	.holder-subtitle li:first-child {
		max-width: 272px;
	}

	.holder-subtitle li:last-child {
		max-width: 330px;
	}

	.list-block {
		padding: 25px 0;
	}

	.holder-type {
		margin: 0;
	}

	.btn-border.white {
		max-width: 240px;
		padding: 17px 80px 17px 55px;
	}

	.btn-border.white i {
		right: 30px;
	}

	.explore {
		padding: 30px 0;
	}

	.section-title {
		margin: 0 0 40px;
	}

	.section-title span {
		font-size: 60px;
	}

	.post {
		margin: 0 0 45px;
	}

	.post.row-reverse .post-content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.post.row-reverse .post-txt {
		margin: 0;
	}

	.post.row-reverse .post-img {
		margin: 0 auto 40px;
	}

	.post.row-reverse .card-post {
		max-width: 475px;
		margin: 0 auto;
		-webkit-transform: translate(0, 10px);
		-ms-transform: translate(0, 10px);
		transform: translate(0, 10px);
	}

	.post-content {
		margin: 0 0 20px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.post-txt {
		max-width: inherit;
	}

	.card-post {
		max-width: 475px;
		margin: 0 auto;
	}

	.post-img {
		margin: 0 auto 40px;
	}
}

@media (max-width: 680px) {
	.banner-block {
		background-position: 10% 50%;
		min-height: 380px;
	}

	.main-title {
		padding: 90px 0;
	}

	.list-block {
		padding: 15px 0;
		letter-spacing: 3.5px;
	}

	.list-block li a {
		font-size: 12px;
	}

	.top-content {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.top-content .info-box {
		max-width: inherit;
		padding: 25px 0;
	}

	.list-brand li a {
		font-size: 12px;
		padding: 5px;
	}
}

@media (max-width: 650px) {
	.box-addres {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.box-addres .block-addres:first-child {
		margin: 0 0 15px;
	}
}

@media (max-width: 630px) {
	.brand-boxes {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}

@media (max-width: 480px) {
	h1,
	.h1 {
		font-size: 32px;
	}

	h2,
	.h2 {
		font-size: 26px;
	}

	h3,
	.h3 {
		font-size: 18px;
	}

	.logo {
		max-width: 40px;
	}

	.drop {
		padding: 16px 30px;
	}

	#nav {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	#nav li {
		margin: 0 0 15px;
	}

	#nav li:last-child {
		margin: 0;
	}

	#nav li a {
		font-size: 16px;
	}

	.banner-block {
		background-position: 25% 60%;
		min-height: 275px;
	}

	.main-title {
		padding: 50px 0;
	}

	.main-title h1:before {
		bottom: -10px;
	}

	.holder-subtitle {
		font-size: 16px;
	}

	.holder-subtitle li {
		padding: 6px 15px;
	}

	.holder-subtitle li:first-child {
		max-width: 222px;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	.holder-subtitle li:last-child {
		max-width: 270px;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	.list-block {
		letter-spacing: -.5px;
	}

	.banner-section {
		padding: 15px 0;
	}

	.top-content .info-box {
		padding: 0;
	}

	.list-brand {
		margin: 0 0 20px;
	}

	.section-title span {
		font-size: 30px;
	}

	.post .post-title .title-h3 h3 {
		padding: 0 0 0 10px;
	}

	.post .post-title .title-h3 i {
		font-size: 50px;
	}

	.post .post-title .img-log {
		max-width: 100px;
	}

	.card-post {
		min-width: inherit;
		padding: 12px;
	}

	.tupe-card .card {
		padding: 10px 5px;
		width: 33.33%;
	}

	.tupe-card .card:before {
		right: 0;
	}

	.line-card {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.line-card .package {
		margin: 0 0 15px;
	}

	.post-img .br-el::after {
		font-size: 210px;
	}

	.post-img::before {
		font-size: 210px;
	}

	.post-img::after {
		font-size: 210px;
	}

	.text-post-info {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.block-info {
		width: 50%;
		margin: 0 0 15px;
	}

	.holder-f {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.holder-f .box-col {
		width: 100%;
		padding: 0;
	}

	.holder-f .box-col.f-white {
		margin: 0 0 15px;
		padding: 15px;
	}

	.holder-f .box-col.f-gray {
		padding: 15px;
	}

	.partners {
		margin: 0 -10px;
	}

	.pox-partner {
		width: 33.33%;
		padding: 0 10px;
	}

	.copyright {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: end;
	}

	.copyright .copy-txt {
		width: 100%;
		padding: 15px 20px;
		color: #fff;
		background: #677;
	}

	.copyright .copy-txt::before {
		content: "";
		position: absolute;
		width: 100vw;
		height: 100%;
		left: 0;
		top: 0;
		background: #677;
		z-index: -1;
	}

	.copyright .footer-list {
		width: 100%;
	}

	.box-addres .block-addres {
		width: 100%;
	}
}
