#wrapper {
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1265px;
  margin: 0 auto;
  padding: 0 15px;
}

.banner-block {
  min-height: 700px;
  position: relative;
  background-position: 100% 50%;
  background-repeat: no-repeat;

  @include media ('<=desktop') {
    min-height: 650px;
  }

  @include media ('<=tablet') {
    min-height: 460px;
  }

  @include media ('<=680px') {
    background-position: 10% 50%;
    min-height: 380px;
  }

  @include media ('<=phone') {
    background-position: 25% 60%;
    min-height: 275px;
  }
}

.main-title {
  position: relative;
  padding: 205px 0 225px;

  @include media ('<=desktop') {
    padding: 190px 0;
  }

  @include media ('<=tablet') {
    padding: 120px 0;
  }

  @include media ('<=680px') {
    padding: 90px 0;
  }

  @include media ('<=phone') {
    padding: 50px 0;
  }

  h1 {
    margin: 0 0 18px;
    color: rgba($gray-3, .15);
    background: $white;
    padding: 5px 0;
    display: inline-block;
    position: relative;

    @include media ('<=tablet') {
      padding: 5px;
    }

    &:before {
      content: '';
      position: absolute;
      width: 122px;
      height: 2px;
      background: $gray-2;
      bottom: -27px;
      left: 0;

      @include media ('<=tablet') {
        width: 80px;
      }

      @include media ('<=phone') {
        bottom: -10px;
      }
    }
  }
}

.holder-subtitle {
  @extend %listreset;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 200;

  @include media ('<=tablet') {
    font-size: 18px;
  }

  @include media ('<=phone') {
    font-size: 16px;
  }

  li {
    background: $white;
    padding: 6px 30px;
    display: inline-block;

    @include media ('<=phone') {
      padding: 6px 15px;
    }

    &:first-child {
      transform: translateX(44%);
      max-width: 330px;

      @include media ('<=tablet') {
        max-width: 272px;
      }

      @include media ('<=phone') {
        max-width: 222px;
        transform: translateX(0);
      }
    }

    &:last-child {
      transform: translateX(46%);
      max-width: 396px;

      @include media ('<=tablet') {
        max-width: 330px;
      }

      @include media ('<=phone') {
        max-width: 270px;
        transform: translateX(0);
      }
    }
  }
}

.list-block {
  @extend %listreset;
  display: flex;
  justify-content: space-around;
  background: $gray-4;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 5.5px;
  padding: 36px 0;

  @include media ('<=tablet') {
    padding: 25px 0;
  }

  @include media ('<=680px') {
    padding: 15px 0;
    letter-spacing: 3.5px;
  }

  @include media ('<=phone') {
    letter-spacing: -.5px;
  }

  li {
    a {
      color: $gray-3;

      @include media ('<=680px') {
        font-size: 12px;
      }

      &:hover,
      &.active {
        border-bottom: 2px solid;
        padding: 0 0 6px;
      }
    }
  }
}

.banner-section {
  padding: 35px 0;
  background: $gray-4;
  position: relative;

  @include media ('<=phone') {
    padding: 15px 0;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: '';
    position: absolute;
    background: url(../images/bg-image.png);
    background-repeat: no-repeat;
    min-height: 82%;
    width: 100%;
    top: 0;
    right: 0;
    max-width: 505px;
    z-index: 0;
  }
}

.top-content {
  display: flex;
  justify-content: space-between;
  margin: 0 0 14px;

  @include media ('<=680px') {
    flex-wrap: wrap;
    justify-content: center;
  }

  .info-box {
    max-width: 610px;
    padding: 25px 0;

    @include media ('<=1075px') {
      padding: 25px 25px 25px 0;
    }

    @include media ('<=680px') {
      max-width: inherit;
      padding: 25px 0;
    }

    @include media ('<=phone') {
      padding: 0;
    }

    h2 {
      margin: 0 0 30px;
      line-height: 1.3;
    }

    .text-box {
      line-height: 1.8;
    }
  }
}

.holder-type {
  margin: 0 0 60px;

  @include media ('<=tablet') {
    margin: 0;
  }

  .title {
    font-size: 15px;
    letter-spacing: 8px;
    color: rgba(#333333, .5);
    text-transform: uppercase;
    margin: 0 0 30px;
    display: inline-block;
  }
}

.list-brand {
  @extend %listreset;
  display: flex;
  margin: 0 0 50px;
  border-bottom: 1px solid;
  width: 76%;

  @include media ('<=1255px') {
    width: 80%;
  }

  @include media ('<=widescreen') {
    width: 90%;
  }

  @include media ('<=1070px') {
    width: 100%;
  }

  @include media ('<=phone') {
    margin: 0 0 20px;
  }

  li {
    margin: 0 20px 0 0;

    @include media ('<=1070px') {
      margin: 0;
    }

    &:last-child {
      margin: 0;
    }

    a {
      padding: 10px 30px;
      display: inline-block;
      color: $gray-3;

      @include media ('<=900px') {
        padding: 10px 15px;
      }

      @include media ('<=680px') {
        font-size: 12px;
        padding: 5px;
      }

      &.active,
      &:hover {
        color: $white;
        background: $gray-3;
      }
    }
  }
}

.brand-boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include media ('<=630px') {
    flex-direction: column;
    justify-content: center;
  }

  .box {
    width: 291px;
    height: 198px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $white;
    margin: 0 0 20px;

    &.bg-blue {
      background: $blue;
    }
  }
}

.btn-border {
  display: block;
  font-size: 13px;
  font-weight: 500;
  position: relative;

  &.gray {
    padding: 17px 28px;
    color: $gray-3;
    border: 1px solid $gray-3;
    background: $white;
    min-width: 206px;

    &:hover {
      color: $white;
      border: 1px solid $white;
      background: $gray-3;
    }
  }

  &.white {
    max-width: 300px;
    padding: 17px 125px 17px 80px;
    color: $white;
    border: 1px solid $gray-3;
    background: $gray-3;

    @include media ('<=tablet') {
      max-width: 240px;
      padding: 17px 80px 17px 55px;
    }

    &:hover {
      color: $gray-3;
      border: 1px solid $gray-3;
      background: $white;
    }

    i {
      right: 90px;

      @include media ('<=tablet') {
        right: 30px;
      }
    }
  }

  i {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 19px;
  }
}


.js-tab-hidden {
  display: block !important;
  left: -9999px !important;
  position: absolute !important;
  top: -9999px !important;
}