#footer {
  position: relative;
  border-top: 1px solid rgba($gray-5, .15);
  position: relative;

  &:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 40px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(#A9A9A9, .15);
  }
}

.footer-content {
  .container {
    max-width: 950px;
    margin: 0 auto;
    padding: 0;

    @include media ('<=desktop') {
      padding: 0 15px;
    }
  }
}

.holder-f {
  display: flex;
  justify-content: space-between;

  @include media ('<=phone') {
    flex-direction: column;
  }

  .box-col {
    width: 50%;
    padding: 20px 75px 0 0;


    @include media ('<=desktop') {
      padding: 20px 10px 0 0;
    }

    @include media ('<=phone') {
      width: 100%;
      padding: 0;
    }

    &.f-white {
      @include media ('<=phone') {
        margin: 0 0 15px;
        padding: 15px;
      }
    }

    &.f-gray {
      color: $white;
      background: $gray-3;
      padding: 35px 50px 20px;
      position: relative;

      @include media ('<=desktop') {
        padding: 35px 20px 20px;
      }

      @include media ('<=phone') {
        padding: 15px;
      }

      h4 {
        margin: 0 0 23px;
      }

      &::before {
        content: '';
        position: absolute;
        width: 100vw;
        height: 100%;
        left: 0;
        top: 0;
        background: $gray-3;
        z-index: -1;
      }
    }
  }
}

h4 {
  font-weight: 700;
  margin: 0;
}

.last-subtitle {
  display: inline-block;
  font-size: 14px;
  line-height: 1.6;
  margin: 0 0 10px;
}

.small-title {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  margin: 0 0 10px;
  color: rgba(#000000, .5)
}

.hold-box {
  max-width: 350px;
}

.partners {
  @extend %listreset;
  display: flex;
  justify-content: space-between;

  @include media ('<=phone') {
    margin: 0 -10px;
  }
}

.pox-partner {
  @include media ('<=phone') {
    width: 33.33%;
    padding: 0 10px;
  }
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: rgba(#000000, .5);

  @include media ('<=phone') {
    flex-direction: column;
    align-items: end;
  }

  .copy-txt {
    width: 50%;
    display: inline-block;
    position: relative;

    @include media ('<=phone') {
      width: 100%;
      padding: 15px 20px;
      color: $white;
      background: $gray-3;

      &::before {
        content: '';
        position: absolute;
        width: 100vw;
        height: 100%;
        left: 0;
        top: 0;
        background: $gray-3;
        z-index: -1;
      }
    }
  }

  .footer-list {
    @extend %listreset;
    width: 50%;
    display: flex;
    position: relative;
    padding: 15px 50px;

    @include media ('<=desktop') {
      padding: 15px 20px;
    }

    @include media ('<=phone') {
      width: 100%;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100vw;
      height: 100%;
      left: 0;
      top: 0;
      background: $gray-3;
      z-index: -1;
    }

    li {
      margin: 0 30px 0 0;

      a {
        font-size: 10px;
        color: $white;

        &:hover {
          border-bottom: 1px solid $white;
        }
      }
    }
  }
}

.box-addres {
  display: flex;

  @include media ('<=650px') {
    flex-direction: column;
  }

  .block-addres {
    width: 50%;

    &:first-child {
      @include media ('<=650px') {
        margin: 0 0 15px;
      }
    }

    @include media ('<=phone') {
      width: 100%;
    }

    address {
      font-style: normal;
      font-size: 12px;
      font-weight: 300;
      opacity: .75;

      strong {
        font-weight: 700;
        margin: 0 0 3px;
        display: block;
      }
    }

    .icon {
      padding: 10px 0;

      a {
        display: inline-block;
        color: $white;

        &:hover {
          opacity: .7;
        }

        i {
          font-size: 25px;
        }
      }
    }

    .callback {
      color: $white;
      font-size: 14px;
      font-weight: 500;

      &:hover {
        border-bottom: 1px solid $white;
      }
    }
  }
}