#header {
  padding: 24px 0 20px;
  position: relative;

  @include media ('<=tablet') {
    padding: 10px 0 10px;
  }
}

.resize-active {
  * {
    transition: none !important;
  }
}

.head-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  @include media ('<=tablet') {
    max-width: 70px;
  }

  @include media ('<=phone') {
    max-width: 40px;
  }

  a {
    display: inline-block;
  }
}

.nav-opener {
  display: block;
  width: 40px;
  height: 40px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 2;

  @include media ('>tablet') {
    display: none;
  }

  .nav-active & {
    span {
      opacity: 0;
    }

    &:before,
    &:after {
      transform: rotate(45deg);
      top: 50%;
      left: 15%;
      right: 15%;
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  span,
  &:before,
  &:after {
    background: $gray-2;
    position: absolute;
    top: 50%;
    left: 16%;
    right: 16%;
    height: 3px;
    margin-top: -2px;
    transition: all .3s linear;
  }

  &:before,
  &:after {
    content: '';
    top: 30%;
  }

  &:after {
    top: 70%;
  }
}

.drop {
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  background: $white;
  z-index: 1;

  transition: {
    property: opacity, visibility, transform, background;
    duration: .3s;
    timing-function: linear;
  }

  @include media ('<=tablet') {
    position: absolute;
    opacity: 0;
    justify-content: center;
    visibility: hidden;
    transform: translateY(-200px);
    right: 0;
    padding: 50px 30px;
  }

  @include media ('<=phone') {
    padding: 16px 30px;
  }

  .nav-active & {

    @include media('<=tablet') {
      opacity: 1;
      visibility: visible;
      background: $gray;
      top: 0;
      transform: translateY(0);
    }
  }
}

#nav {
  @extend %listreset;
  display: flex;
  margin: 0 -45px;

  @include media ('<=phone') {
    flex-direction: column;
    align-items: center;
  }

  li {
    padding: 0 45px;

    @include media ('<=phone') {
      margin: 0 0 15px;

      &:last-child {
        margin: 0;
      }
    }

    a {
      display: inline-block;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 4px;
      color: $gray-2;

      @include media ('<=tablet') {
        color: $white;
      }

      @include media ('<=phone') {
        font-size: 16px;
      }

      &:hover {
        opacity: .7;
      }

      .nav-active & {
        &:hover {
          color: $white;
        }
      }
    }
  }
}