.explore {
  padding: 110px 0;
  position: relative;

  @include media ('<=tablet') {
    padding: 30px 0;
  }
}

.section-title {
  margin: 0 0 105px;

  @include media ('<=tablet') {
    margin: 0 0 40px;
  }

  span {
    display: block;
    color: $light-blue-2;
    font-size: 120px;
    font-weight: 700;

    @include media ('<=tablet') {
      font-size: 60px;
    }

    @include media ('<=phone') {
      font-size: 30px;
    }
  }
}

.holder-posts {
  max-width: 950px;
  margin: 0 auto;
}

.post {
  margin: 0 0 135px;
  position: relative;

  @include media ('<=tablet') {
    margin: 0 0 45px;
  }

  &:last-child {
    margin: 0;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 1px;
    background: $gray-3;
    bottom: 24px;
    right: 0;
  }

  &.row-reverse {
    .post-content {
      flex-direction: row-reverse;

      @include media ('<=tablet') {
        flex-direction: column;
      }
    }

    .post-txt {
      margin: 0 0 0 40px;

      @include media ('<=tablet') {
        margin: 0;
      }
    }

    .post-img {
      margin: 0;

      @include media ('<=tablet') {
        margin: 0 auto 40px;
      }
    }

    .card-post {
      transform: translate(-100px, 10px);

      @include media ('<=tablet') {
        max-width: 475px;
        margin: 0 auto;
        transform: translate(0, 10px);
      }
    }
  }

  .post-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 44px;

    .title-h3 {
      position: relative;

      h3 {
        color: $gray-5;
        font-weight: 700;
        margin: 0;
        padding: 0 0 0 55px;

        @include media ('<=phone') {
          padding: 0 0 0 10px;
        }
      }

      i {
        display: inline-block;
        position: absolute;
        font-size: 106px;
        padding: 0 6px;
        z-index: -1;
        top: 50%;
        transform: translateY(-50%);
        color: #92A3A2;

        @include media ('<=phone') {
          font-size: 50px;
        }
      }
    }

    .img-log {
      @include media ('<=phone') {
        max-width: 100px;
      }
    }
  }
}


.post-content {
  display: flex;
  justify-content: space-between;
  margin: 0 0 58px;

  @include media ('<=tablet') {
    margin: 0 0 20px;
    flex-direction: column;
  }
}

.post-txt {
  max-width: 375px;
  z-index: 5;

  @include media ('<=tablet') {
    max-width: inherit;
  }

  .txt {
    line-height: 1.8;
    margin: 0 0 40px;
  }

  .small-images {
    @extend %listreset;
    display: flex;
    margin: 0 -10px 20px;

    li {
      padding: 0 10px;
    }
  }
}

.card-post {
  padding: 20px;
  background: $white;
  transform: translate(0, 10px);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.0501019);
  min-width: 475px;
  margin: 0 0 30px;

  @include media ('<=tablet') {
    max-width: 475px;
    margin: 0 auto;
  }

  @include media ('<=phone') {
    min-width: inherit;
    padding: 12px;
  }
}

.tupe-card {
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px;

  .card {
    display: inline-block;
    text-transform: uppercase;
    padding: 15px 5px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    position: relative;
    color: rgba($gray-5, .5);

    @include media ('<=phone') {
      padding: 10px 5px;
      width: 33.33%;
    }

    &:before {
      content: '';
      position: absolute;
      right: -40px;
      top: 10px;
      width: 1px;
      height: 25px;
      background: rgba($gray-5, .5);

      @include media ('<=phone') {
        right: 0;
      }
    }

    &:last-child {
      &::before {
        display: none;
      }
    }
  }
}

.line-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin: 0 0 24px;

  @include media ('<=phone') {
    flex-direction: column;
  }

  .package {
    display: inline-block;
    font-size: 14px;

    @include media ('<=phone') {
      margin: 0 0 15px;
    }

    mark {
      background: inherit;
    }
  }
}

.post-img {
  width: 100%;
  height: 100%;
  margin: 0 30px;
  max-width: 515px;
  background: $gray-6;
  position: relative;

  @include media ('<=tablet') {
    margin: 0 auto 40px;
  }

  .br-el {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &::after {
      content: "\e902";
      position: absolute;
      font-family: "icomoon";
      color: rgba($white, .54);
      font-size: 440px;
      top: 140px;
      left: 75px;

      @include media ('<=widescreen') {
        font-size: 380px;
      }

      @include media ('<=desktop') {
        font-size: 300px;
        left: 0;
      }

      @include media ('<=phone') {
        font-size: 210px;
      }
    }
  }

  &::before {
    content: "\e902";
    position: absolute;
    font-family: "icomoon";
    color: $white;
    z-index: 0;
    font-size: 455px;
    top: -45px;
    left: 0;

    @include media ('<=widescreen') {
      font-size: 380px;
    }

    @include media ('<=desktop') {
      font-size: 300px;
    }

    @include media ('<=phone') {
      font-size: 210px;
    }
  }

  &::after {
    content: "\e902";
    position: absolute;
    font-family: "icomoon";
    color: rgba($gray-2, .1);
    font-size: 440px;
    top: 140px;
    left: 75px;

    @include media ('<=widescreen') {
      font-size: 380px;
    }

    @include media ('<=desktop') {
      font-size: 300px;
      left: 0;
    }

    @include media ('<=phone') {
      font-size: 210px;
    }
  }

  img {
    transform: translate(20px, 25px);
    position: relative;

  }
}

.text-post-info {
  display: flex;
  justify-content: space-between;
  z-index: 7;
  margin: 0 0 23px;

  @include media ('<=phone') {
    flex-wrap: wrap;
  }
}

.block-info {
  z-index: 5;
  width: 25%;

  @include media ('<=phone') {
    width: 50%;
    margin: 0 0 15px;
  }

  span {
    font-size: 14px;
    color: $gray-5;
    display: inline-block;
    margin: 0 0 30px;
  }

  .list {
    @extend %listreset;
    font-size: 12px;
    line-height: 2.2;
  }
}

.link-post {
  display: flex;
  justify-content: flex-end;
}