// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$gray: #999;
$gray-2: #565D61;
$gray-3: #667777;
$gray-4: #F4F8FB;
$gray-5: #333333;
$gray-6: #92A3A2;
$black: #333;
$blue: #21407B;
$white: #fff;
$white-2: #F2F2F2;
$light-blue: #39f;
$light-blue-2: #E1EBF3;

$base-font-sans-serif: 'Poppins',
'Arial',
'Helvetica Neue',
'Helvetica',
sans-serif;
$base-font-serif: 'Times New Roman',
'Times',
'Baskerville',
'Georgia',
serif;

// This is the default html and body font-size for the base rem value.
$rem-base: 16px;

// Body
$base-text-color: $gray-2 !default;
$base-background-color: $white !default;
$font-size-base: 16px !default;
$line-height-base: 1.2 !default;
$base-font-family: $base-font-sans-serif !default;

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $light-blue;

// Buttons 
$btn-color: $white !default;
$btn-background: $black !default;
$btn-padding: 0.4em 0.7em !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $gray !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: $gray !default;

// Headers
$h1-font-size: 65px;
$h2-font-size: 60px;
$h3-font-size: 48px;
$h4-font-size: 24px;
$h5-font-size: 17px !default;
$h6-font-size: 15px !default;

$headings-font-family: inherit !default;
$headings-color: inherit !default;


$animation-speed: 0.3s;